@import '../node_modules/nib'

global-reset()

// Variables

$siteBackground = #000
$primaryColor = #fff

// Mix-ins
.dead-center
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)

// Animations

@keyframes blink {
  from {
    opacity: 1
  }
  to {
    opacity: 0.8
    -webkit-filter: blur(10px) 
	}
}

// Base

html, body
	width: 100%
	margin: 0
	padding: 0
	background: $siteBackground
	color: $primaryColor

.masthead
	@extend .dead-center
	width: 60%
	img
		width: 100%
	&:hover
		animation: blink 0.001s linear infinite alternate


