@import '../node_modules/nib'

global-reset()

// Variables

$siteBackground = rgb(254,230,211)
$primaryColor = #fff
$mobileWidth = "(max-width: 663px) and (min-width: 320px)"

// Mix-ins
.dead-center
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%,-50%)

font-url(file)
	return '../fonts/' + file

webfont(family, file, hack-chrome-windows = false, weight = 'normal')
	@font-face
		font-family family
		src url(font-url(file + '.eot'))
		src url(font-url(file + '.eot?#iefix')) format('embedded-opentype'),
			url(font-url(file + '.woff')) format('woff'), 
			url(font-url(file + '.ttf')) format('truetype'), 
			url(font-url(file + '.svg#'+ family)) format('svg')
		font-weight weight
		font-style normal
	if hack-chrome-windows
		@media screen and (-webkit-min-device-pixel-ratio:0)
			@font-face
				font-family family
				src url(font-url(file + '.svg#'+ family)) format('svg')

webfont('Anno', 'Anno_jbf_webprotect', true, 'normal')
webfont('Maria Pro', 'maria-webfont-webfont', true, 'normal')
webfont('Life', 'life', true, 'normal')



// Base
html
	margin: 0
	padding: 0
body
	width: 100%
	margin: 0
	padding: 0
	opacity: 0
	transition: 1s ease-in
	background: $siteBackground url('../img/bannerbg.jpg') no-repeat center center fixed
	background-size: cover
	-webkit-font-smoothing: antialiased
	font-family: 'Maria Pro', sans-serif
	color: $primaryColor
	&.loaded
		opacity:1

.banner
	width: 100%
	position: absolute
	z-index: 1
	margin: 10px 0
	text-align: center

.masthead
	width: 40%
	margin: 0 auto

	img
		max-width: 100%

.presale
	font-size: 28px
	text-align: center
	margin-bottom: 20px


.countdown
	width: 90%
	margin: 0 auto
	font-family: 'Anno', 'Times New Roman', serif
	text-align: center
	position: relative
	// color: transparent
	// -webkit-text-stroke-width: 0.015em
	// -webkit-text-stroke-color: gray
	font-size: 96px
	letter-spacing: -4px
	@media $mobileWidth
		font-size: 48px
		letter-spacing: -2px

.life
	font-size: 91px
	font-family: 'Life', Times
	@media $mobileWidth
		font-size: 46px

form
	margin: 40px 0 0 0
input
	display: inline
	background-color:rgba(0, 0, 0, 0);
	border: 2px solid #fff
	height: 50px
	box-sizing: border-box
	font-family:'Maria Pro'
	font-size: 14px
	color: #fff
	padding: 0

input[type=email]
	width: 250px
	padding-left: 15px
input[type=submit]
	width: 100px

::-webkit-input-placeholder {
   color: #fff;
}

:-moz-placeholder { /* Firefox 18- */
   color: #fff;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #fff;  
}

:-ms-input-placeholder {  
   color: #fff;  
}

